#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens33 --gateway=10.2.6.1 --ip=10.2.7.40 --nameserver=10.14.1.10,10.11.0.51 --netmask=255.255.254.0 --ipv6=auto --activate
network  --hostname=group3_server.hh.nku.edu

# Root password
rootpw --iscrypted $6$rhQFCm8kGbvtVfWd$CBGMHVydV8zSTDL1SaZkI1DW1aSkkojOyDxclB1YBLBOjUScA.f2eDPVlgwYwvDeNSlmTsn0GoYhKYFcmOp3L.
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.156 --fstype="lvmpv" --ondisk=sda --size=9555
volgroup centos --pesize=4096 pv.156
logvol /var  --fstype="xfs" --size=1907 --name=var --vgname=centos
logvol swap  --fstype="swap" --size=488 --name=swap --vgname=centos
logvol /  --fstype="xfs" --size=7152 --name=root --vgname=centos


reboot

%post --log=/root/server_ks_install.log

#Updates
yum -y update


%end

%packages
@^minimal
@core
chrony
kexec-tools
net-tools
wget
openldap-servers
openldap-clients
nss_ldap
migrationtools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
